@import '../../assets/styles/variables';

.btn-wrapper {
  height: 3rem;
  width: 100%;
  max-width: 7rem;
  button {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    color: white;
    background-color: $primary-btns;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    outline: none;
    &:hover {
      background-color: $hover-btn;
    }
  }
}
