$light-primary: #697c9a;
$light-secondary: #4b6a9b;
$light-black: #2b3442;
$light-white: #fefefe;
$light-background: #f6f8ff;

$dark-primary: #141d2f;
$dark-secondary: #1e2a47;
$dark-white: #ffffff;

$primary-btns: #0079ff;
$hover-btn: #60aaff;
$primary-red: #fe7b80;
